@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Taviraj:regular&display=swap");
.conteiner {
	max-width: 810px;
	margin: 0 auto;
}
body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: #424551;
	line-height: 1.6;
}
h1 {
	font-size: 46px;
	font-weight: 900;
	color: #1e212c;
	line-height: 1.3;
	margin-bottom: 40px;
}
h6 {
	font-weight: 700;
	color: #1e212c;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 8px 0;
}
.list li {
	max-width: 390px;
	padding: 0 0 0 32px;
	margin-bottom: 12px;
}

.list li::before {
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 16px 0 -32px;
	background: url("../img/list.svg") 0 0 / 16px no-repeat;
}
.list li:last-child {
	margin-bottom: 22px;
}

.button {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	padding: 0px 32px;
	color: #fff;
	letter-spacing: 0.5px;
	border-radius: 4px;
	line-height: 3.14;
}
.maple-serias {
	font-family: "Taviraj", sans-serif;
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	color: #333333;
}
.text::after {
	content: "";
	display: block;
	height: 1px;
	width: 65px;
	margin: 8px 0px 0px 0px;
	background-color: #333333;
}
.createx,
.maple-serias {
	margin-bottom: 80px;
}
.button-homework {
	display: block;
	width: 390px;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	padding: 0px 32px;
	color: #fff;
	letter-spacing: 0.5px;
	border-radius: 4px;
	line-height: 3.14;
	margin-bottom: 100px;
}
