@import "nullscss.css";
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap");

.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}

body {
	font-family: "Balsamiq Sans", cursive;
	font-size: 20px;
	line-height: 1.3;
	background-color: #b5bdc8;
	color: rgb(43, 43, 77);
	height: 10000px;
}
nav {
	text-align: center;
	margin-bottom: 50px;
}
h1 {
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	text-shadow: 5px 0 10px rgba(199, 45, 45, 0.788);
	margin: 30px auto;
}
h2 {
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}
p {
	padding: 0 20px;
}
ul {
	padding: 0 20px;
}
span {
	text-decoration: underline;
}
.text {
	margin-bottom: 20px;
}

.block1 {
	background-color: rgb(0, 225, 255);
	padding-top: 15px;
	margin: 20px;
	width: 200px;
	height: 60px;
	text-align: center;
	font-size: 24px;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: inset 0 0 15px 5px rgba(1, 77, 87, 0.4);
}
.block1.hover:hover {
	box-shadow: inset 0 0 15px 5px rgba(183, 0, 255);
}
.block2 {
	background-color: rgb(251, 255, 0);
	padding-top: 15px;
	margin: 20px;
	width: 200px;
	height: 60px;
	text-align: center;
	font-size: 24px;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: inset 0 0 15px 5px rgba(1, 77, 87, 0.4);
}
.block2.hover:hover {
	outline: 10px solid rgba(252, 38, 1, 0.959);
}
.block3 {
	background-color: rgb(183, 0, 255);
	padding-top: 15px;
	margin: 20px;
	width: 200px;
	height: 60px;
	text-align: center;
	font-size: 24px;
	display: inline-block;
	text-transform: uppercase;
	border: 3px solid green;
	border-radius: 5px;
	box-shadow: inset 0 0 15px 5px rgba(1, 77, 87, 0.4);
}
.block3.hover:hover {
	box-shadow: 0 0 15px 15px rgba(38, 228, 0, 0.6);
}
.hover-card {
	margin-bottom: 50px;
}
.block1.active:hover {
	box-shadow: inset 0 0 15px 5px rgba(183, 0, 255);
}
.block1.active:active {
	box-shadow: inset 0 0 15px 5px rgba(183, 0, 255), 0 0 15px 5px rgba(183, 0, 255);
	font-size: 22px;
	padding-top: 17px;
	color: blue;
	letter-spacing: 1px;
}
.block2.active:hover {
	outline: 10px solid rgba(252, 38, 1, 0.959);
}
.block2.active:active {
	background-color: rgb(255, 8, 0);
	box-shadow: 0 0 20px 45px rgba(255, 138, 4, 0.753);
	outline: 10px solid rgba(252, 38, 1, 0.959);
	color: black;
}
.block3.active:hover {
	box-shadow: 0 0 15px 15px rgba(38, 228, 0, 0.6);
}
.block3.active:active {
	background-color: rgb(183, 0, 255);
	rotate: 90deg;
	box-shadow: 0 0 15px 15px rgba(38, 228, 0, 0.6);
}
.active-card {
	margin-bottom: 50px;
}

.block1.visited:hover {
	box-shadow: inset 0 0 15px 5px rgba(183, 0, 255);
}
.block1.visited:active {
	box-shadow: inset 0 0 15px 5px rgba(183, 0, 255), 0 0 15px 5px rgba(183, 0, 255);
	font-size: 22px;
	padding-top: 17px;
	color: blue;
	letter-spacing: 1px;
}
.block1.visited:visited {
	color: rgb(0, 0, 0);
	background-color: rgb(145, 19, 177);
}
.block2.visited:hover {
	outline: 10px solid rgba(252, 38, 1, 0.959);
}
.block2.visited:active {
	background-color: rgb(255, 8, 0);
	box-shadow: 0 0 20px 45px rgba(255, 138, 4, 0.753);
	outline: 10px solid rgba(252, 38, 1, 0.959);
	color: black;
}
.block2.visited:visited {
	color: red;
}
.block3.visited:hover {
	box-shadow: 0 0 15px 15px rgba(38, 228, 0, 0.6);
}
.block3.visited:active {
	background-color: rgb(183, 0, 255);
	rotate: 90deg;
	box-shadow: 0 0 15px 15px rgba(38, 228, 0, 0.6);
}
.block3.visited:visited {
	border: 3px solid rgb(2, 66, 9);
}
.visited-card {
	margin-bottom: 50px;
}

.block1.focus:focus {
	outline: 2px solid rgb(28, 0, 128);
	border-radius: 30px;
}
.block2.focus:focus {
	box-shadow: 0 0 20px 5px rgba(255, 138, 4, 0.753);
	width: 210px;
	padding: 15px 25px 0 25px;
}
.block3.focus:focus {
	outline: 5px double green;
	background-color: rgb(194, 58, 248);
}
.focus-card {
	margin-bottom: 50px;
}
.block1.target:target {
	background-color: green;
}
.block2.target:target {
	visibility: hidden;
}
.block3.target:target {
	border-radius: 50%;
}
.target-card {
	margin-bottom: 50px;
}

.cube {
	background-color: rgb(96, 188, 201);
	padding-top: 18px;
	margin: 10px;
	width: 90px;
	height: 60px;
	text-align: center;
	font-size: 18px;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: inset 0 0 15px 5px rgba(1, 77, 87, 0.4);
}

img {
	display: inline-block;
	margin: 10px;
	width: 90px;
	height: 60px;
	border-radius: 5px;
}
.cube-fc *:first-child {
	background-color: red;
}
.first-child-card {
	background-color: #848b94;
	margin-bottom: 50px;
}
.cube-lc *:last-child {
	background-color: red;
}
.last-child-card {
	background-color: #848b94;
	margin-bottom: 50px;
}
.cube-ft div:first-of-type {
	background-color: red;
}
.first-child-type-card {
	background-color: #848b94;
	margin-bottom: 50px;
}
.cube-lt div:last-of-type {
	background-color: red;
}
.last-child-type-card {
	background-color: #848b94;
	margin-bottom: 50px;
}
.cube-nc *:nth-child(3),
.cube-nc *:nth-child(7) {
	background-color: red;
}
.cube-nodc div:nth-child(odd) {
	background-color: red;
}
.cube-nevc div:nth-child(even) {
	background-color: red;
}
.cube-ntc div:nth-of-type(3n + 3) {
	background-color: red;
}
.nth-child-card {
	background-color: #848b94;
	margin-bottom: 50px;
}

.example-fline::first-line {
	color: red;
	text-shadow: 5px 0 10px rgba(199, 45, 45, 0.637);
}
.example-fline {
	margin-bottom: 50px;
}
.example-fletter::first-letter {
	color: red;
	font-size: 40px;
}
.example-fletter {
	margin-bottom: 100px;
}

.before-card::before {
	content: "";
	width: 400px;
	height: 70px;
	display: block;
	margin: 0px auto;
	background: url("../img/JCQF3.png") 0 0 / 400px no-repeat;
}
.before-card {
	margin-bottom: 100px;
}
.after-card::after {
	content: "";
	width: 300px;
	height: 170px;
	display: block;
	margin: 0px auto;
	background: url("../img/JCQF5.png") 0 0 / 300px no-repeat;
}
.after-card {
	margin-bottom: 100px;
}
.button {
	display: block;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: rgb(15, 15, 15);
	border-radius: 25px;
	background: linear-gradient(to top, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
	padding: 20px;
	border: 1px solid #333;
	box-shadow: 0 10px 15px 0 rgba(1, 77, 87, 0.7);
}
.button:hover {
	box-shadow: 0 8px 15px 0 rgba(1, 77, 87, 0.7);
	margin: 2px 0px 0px 0px;
}
.button:active {
	box-shadow: 0 5px 15px 0 rgba(1, 77, 87, 0.85);
	margin: 5px 0px 0px 0px;
}
